<div class="container">

    <h1>Hello World From The HTML File</h1>

    <!--Conditionals-->

    <!--<h2>
    <!--<span *ngIf="showName">My Name Is {{name}}</span>
    <span *ngIf="!showName">Hello World</span>-->

    <!--<span *ngIf="showName; else noName">My Name Is {{name}}</span>
    <ng-template #noName>I Don't Have Name</ng-template>
-->
    <!--    <p>My Name Is {{ showName ? name : 'I Dont Have A Name' }}</p>-->

    <!--    <hr>-->

    <!--    <div [ngSwitch]="greeting">-->
    <!--        <div *ngSwitchCase="'1'">-->
    <!--            Hello World-->
    <!--        </div>-->
    <!--        <div *ngSwitchCase="'2'">-->
    <!--            Hello Moon-->
    <!--        </div>-->
    <!--        <div *ngSwitchCase="'3'">-->
    <!--            Hello Sky-->
    <!--        </div>-->
    <!--        <div *ngSwitchDefault>-->
    <!--            Hello Sun-->
    <!--        </div>-->
    <!--    </div>-->

    <!--</h2>-->
    <!---->

    <!--3 ways to bind properties-->

    <!--<div>

    <img src="{{ imageUrl }}">


</div>
<div>

    <img [src]="imageUrl">

</div>
<div>

    <img bind-src="imageUrl">

</div>

<h4>Image Location: <span [textContent]="imageUrl"></span></h4>-->

    <!--<h2>Create Post</h2>
<p [hidden]="isUnchanged">Post Has Been Changed Please Save</p>
<button [disabled]="isUnchanged">Save</button>
-->

    <!--<h4 [class.special]="isSpecial">This class biding is special.</h4>-->
    <!--<h4 [ngClass]="currentClasses">This div is initially special and savable</h4>-->

    <!--<div [style.font-size]="isSpecial ? 'x-large' : 'smaller'">
    Font size depends on isSpecial
</div>

<div [ngStyle]="currentStyles">This div is initaly savable and special</div>
-->

    <!--<p>My birthday is {{ birthday | date}}</p>
<p>My birthday is {{ birthday | date:"MM-dd-yy"}}</p>
<p>My birthday is {{ birthday | date:"MM-dd-yyyy"}}</p>
<p>I was born in {{ birthday | date:"yyyy"}}</p>
<p>I love {{ "Cake" | uppercase }}</p>
<p>I love {{ "Cake" | lowercase }}</p>
<p>Your total is {{ total | currency:"USD":"1"}}</p>
<p>Our fee is {{ fee | percent }}</p>-->

    <!--<button (click)="fireEvent($event)">Click Event</button>
<hr>
<button (mouseover)="fireEvent($event)">Mouse Over Event</button>
<hr>
<button (mousedown)="fireEvent($event)">Mouse Down Event</button>
<hr>
<button (mouseup)="fireEvent($event)">Mouse Up Event</button>
<hr>
<button (dblclick)="fireEvent($event)">Double Click Event</button>
<hr>
<button (drag)="fireEvent($event)">Drag Event</button>
<hr>
<button (dragover)="fireEvent($event)">Drag Over Event</button>-->


    <!--<button (click)="changeValue()">Change Value</button>
<div *ngIf="value">
    <h1>{{ text }}</h1>
</div>-->
    <!--<div>
    <input type="text" (keyup)="fireEvent($event)" placeholder="Key UP">
</div>
<div>
    <input type="text" (keydown)="fireEvent($event)" placeholder="Key Down">
</div>
<div>
    <input type="text" (focus)="fireEvent($event)" placeholder="Focus">
</div>
<div>
    <input type="text" (blur)="fireEvent($event)" placeholder="Blur">
</div>
<div>
    <input type="cut" (blur)="fireEvent($event)" placeholder="Cut">
</div>
<div>
    <input type="copy" (blur)="fireEvent($event)" placeholder="Copy">
</div>
<div>
    <input type="paste" (blur)="fireEvent($event)" placeholder="Paste">
</div>
<hr>
<div>
    <input type="text" (keyup)="changeText($event)" placeholder="Change Text" value={{text}}>
</div>

<h2>{{ text }}</h2>-->


    <!--<form>
    <div class="container">
        <div class="form-group">
            <label>Name</label>
            <input type="text" [(ngModel)]="name" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label>Age</label>
            <input type="number" [(ngModel)]="age" name="age" class="form-control">
        </div>
        <input type="submit" value="submit" class="btn btn-success">

        <h4>{{ name }}</h4>
        <h4>{{ age }}</h4>
    </div>

</form>
-->

    <!--
    <form (submit)="onSubmit()" class="form-group">
        <div class="form-group">
            <label>Name</label>
            <input type="text" [(ngModel)]="name" name="name" class="form-control">
        </div>
        <input type="submit" value="Submit" class="btn btn-success">
    </form>

    <hr>

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of users">{{ user }}</li>
    </ul>-->

    <!--<form class="form-group" novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
    
            <label>Name</label>
    
            <input type="text" class="form-control" [(ngModel)]="user.name" name="name" #userName="ngModel" minlength="2" required>
    
            <div *ngIf="userName.errors?.required && userName.touched" class="alert alert-danger">Name is required</div>
            <div *ngIf="userName.errors?.minLength && userName.touched" class="alert alert-danger">Name should be at least 2 charecters</div>
    
        </div>
        <div class="form-group">
    
            <label>Email</label>
    
            <input type="email" class="form-control" [(ngModel)]="user.email" name="email" #userName="ngModel" required>
            <div *ngIf="userEmail.errors?.required && userEmail.touched" class="alert alert-danger">Name is required</div>
    
        </div>
        <div class="form-group">
    
            <label>Phone</label>
    
            <input type="text" class="form-control" [(ngModel)]="user.phone" name="phone" #userName="ngModel" minLength="10">
    
        </div>
        <input type="submit" value="submit" class="btn btn-primary">
    </form>-->

    <!--<div class="user">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let user of users">{{ user }}</li>
        </ul>
    </div>-->

    <form (submit)="onSubmit()">

        <div class="form-group">
            <label>Name</label>
            <input [(ngModel)]="user.name" name="name" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input [(ngModel)]="user.email" name="email" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input [(ngModel)]="user.phone" name="phone" type="text" class="form-control">
        </div>

        <input type="submit" value="Submit" class="btn btn-dark">

    </form>

    <hr>

    <div *ngFor="let user of users">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title list-group-item">Name: {{ user.name }}</h2>
                <p class="card-text list-group-item">Email: {{ user.email }}</p>
                <p class="card-text list-group-item">Phone: {{ user.phone }}</p>
            </div>
        </div>
        <br>
        <button (click)="onDeleteClick(user.id)" class="btn btn-danger btn-sm">Delete</button>
        <br><br>
    </div>


</div>
<!--Container -->
